html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 45em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 45em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2::after {
      clear: both;
      content: "";
      display: table; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 46.28851%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 45em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #1d1d1d;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }
  @media (max-height: 46em) and (min-width: 60em) {
    body {
      font-size: .875em; } }
  @media (max-height: 40em) and (min-width: 60em) {
    body {
      font-size: .75em; } }

.display-font-size {
  font-size: 2.4375em; }
  @media (min-width: 45em) {
    .display-font-size {
      font-size: 2.925em; } }
  @media (min-width: 60em) {
    .display-font-size {
      font-size: 3.25em; } }

.xlarge-font-size {
  font-size: 1.6875em; }
  @media (min-width: 45em) {
    .xlarge-font-size {
      font-size: 2.025em; } }
  @media (min-width: 60em) {
    .xlarge-font-size {
      font-size: 2.25em; } }

.large-font-size {
  font-size: 0.98438em; }
  @media (min-width: 45em) {
    .large-font-size {
      font-size: 1.18125em; } }
  @media (min-width: 60em) {
    .large-font-size {
      font-size: 1.6875em; } }

.medium-font-size {
  font-size: 1em;
  margin-bottom: 2em;
  margin-top: 1.75em; }
  @media (min-width: 45em) {
    .medium-font-size {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    .medium-font-size {
      font-size: 1.3125em; } }

.base-font-size {
  font-size: 1em; }
  @media (min-width: 45em) {
    .base-font-size {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    .base-font-size {
      font-size: 1.125em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.4375em;
  margin-top: 0;
  margin-bottom: 24px;
  color: #2162bc; }
  @media (min-width: 45em) {
    h1 {
      font-size: 2.925em; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 3.25em; } }

h2 {
  font-size: 1.6875em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 45em) {
    h2 {
      font-size: 2.025em; } }
  @media (min-width: 60em) {
    h2 {
      font-size: 2.25em; } }

h3 {
  font-size: 0.98438em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 45em) {
    h3 {
      font-size: 1.18125em; } }
  @media (min-width: 60em) {
    h3 {
      font-size: 1.6875em; } }

h4 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 45em) {
    h4 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h4 {
      font-size: 1.3125em; } }

h5 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 45em) {
    h5 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h5 {
      font-size: 1.125em; } }

h6 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 45em) {
    h6 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h6 {
      font-size: 1.125em; } }

p {
  margin: 16px 0;
  font-size: 1em; }

.emph {
  font-size: 1.3125em;
  font-weight: normal; }
  @media (min-width: 45em) {
    .emph {
      font-size: 1.50937em; } }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #e34e33;
  text-decoration: underline; }
  a:hover {
    color: #b13018; }
  a:active, a:focus {
    color: #b13018;
    outline: none; }

hr {
  border-bottom: 1px solid #f8f8f8;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #5d5d5d;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

.site-nav {
  background-color: #1d1d1d;
  float: left; }
  .site-nav span {
    white-space: nowrap; }
  @media (min-width: 45em) {
    .site-nav {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background-color: transparent; } }
  @media (min-width: 60em) {
    .site-nav {
      background-color: transparent; } }

.sn-level-1 {
  margin: 0;
  padding: 0; }
  @media (min-width: 45em) {
    .sn-level-1 {
      height: 2.375em;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; } }

.sn-li-l1 {
  display: block;
  border-bottom: 1px solid rgba(13, 13, 13, 0);
  background-color: transparent;
  position: relative; }
  .sn-li-l1 span {
    font-size: 0.8125em; }
  .sn-li-l1 > a {
    display: block;
    height: 2.375em;
    line-height: 2.375em;
    color: #ffffff;
    text-decoration: none;
    padding: 0 1em; }
    .sn-li-l1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover {
      color: #e34e33; }
  .sn-li-l1.has-subnav .m-subnav-arrow, .sn-li-l1.menu-item-has-children .m-subnav-arrow {
    cursor: pointer;
    display: none;
    display: none; }
    @media (max-width: 45em) {
      .sn-li-l1.has-subnav .m-subnav-arrow, .sn-li-l1.menu-item-has-children .m-subnav-arrow {
        padding-right: 0em;
        background-image: url(img/ico-white-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.75em;
        display: block;
        width: 40px;
        position: absolute;
        background-color: #151515;
        right: 0;
        top: 0;
        bottom: 0; }
        .sn-li-l1.has-subnav .m-subnav-arrow.active, .sn-li-l1.menu-item-has-children .m-subnav-arrow.active {
          transform: rotate(180deg); } }
  .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
    padding-right: 0em;
    background-image: url(img/ico-white-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75em;
    display: block; }
  .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
    transform: rotate(180deg); }
  .sn-li-l1:hover {
    background-color: transparent; }
  @media (min-width: 45em) {
    .sn-li-l1 {
      height: 2.375em;
      float: left;
      border-bottom: 0;
      border-right: 1px solid rgba(13, 13, 13, 0);
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1;
      text-align: center;
      /*
    &:nth-child(1n) {
      width:20%;
    }
    &:nth-child(2n) {
      width:20%;
    }
    &:nth-child(3n) {
      width:20%;
    }
    &:nth-child(4n) {
      width:20%;
    }
    &:nth-child(5n) {
      width:20%;
    }*/ }
      .sn-li-l1 span {
        font-size: 0.8125em; }
      .sn-li-l1 > a {
        padding: 0 5px;
        color: #ffffff; }
        .sn-li-l1 > a:hover {
          color: #e34e33; }
      .sn-li-l1:hover .sn-level-2 {
        display: block; }
      .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
        padding-right: 1em;
        background-size: 0.625em;
        display: inline; }
      .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
        background-image: url(img/ico-arrow-down.svg); }
      .sn-li-l1:hover {
        background-color: transparent; } }
  @media (min-width: 60em) {
    .sn-li-l1 {
      border-right: 1px solid rgba(13, 13, 13, 0); }
      .sn-li-l1 span {
        font-size: 0.8125em; }
      .sn-li-l1 > a {
        padding: 0 0.9375em;
        color: #ffffff; }
        .sn-li-l1 > a:hover {
          color: #e34e33; }
      .sn-li-l1:hover {
        background-color: transparent; } }

.sn-level-2 {
  padding: 0;
  margin: 0;
  display: none;
  position: relative; }
  .sn-level-2.active {
    display: block; }
  @media (min-width: 45em) {
    .sn-level-2 {
      position: absolute; }
      .sn-level-2.active {
        display: none; } }

.sn-li-l2, .sn-li-l3 {
  background-color: transparent; }
  .sn-li-l2 > a, .sn-li-l3 > a {
    padding: 0 1em;
    color: #ffffff;
    border-top: 1px solid rgba(26, 26, 26, 0);
    display: block;
    text-decoration: none;
    line-height: 3.125em; }
    .sn-li-l2 > a span, .sn-li-l3 > a span {
      font-size: 1em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover {
    background-color: transparent; }
  @media (min-width: 45em) {
    .sn-li-l2, .sn-li-l3 {
      position: relative;
      background-color: transparent; }
      .sn-li-l2 > a, .sn-li-l3 > a {
        padding: 0 5px;
        line-height: 3.125em;
        border-top: 1px solid rgba(26, 26, 26, 0);
        border-right: 1px solid rgba(26, 26, 26, 0); }
        .sn-li-l2 > a span, .sn-li-l3 > a span {
          font-size: 1em; }
      .sn-li-l2:hover, .sn-li-l3:hover {
        background-color: transparent; }
        .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3 {
          display: block;
          margin: -1.5625em;
          padding: 1.5625em; } }
  @media (min-width: 60em) {
    .sn-li-l2, .sn-li-l3 {
      background-color: transparent; }
      .sn-li-l2 > a, .sn-li-l3 > a {
        padding: 0 0.9375em;
        line-height: 3.125em;
        border-top: 1px solid rgba(26, 26, 26, 0);
        border-right: 1px solid rgba(26, 26, 26, 0); }
        .sn-li-l2 > a span, .sn-li-l3 > a span {
          font-size: 1em; }
      .sn-li-l2:hover, .sn-li-l3:hover {
        background-color: transparent; } }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative; }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 45em) {
    .sn-level-3 {
      position: absolute;
      top: 0;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

.site-nav-container {
  background-color: #1d1d1d;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 45em) {
    .site-nav-container {
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      background-color: transparent; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 45em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #2162bc !important;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 45em) {
    .close-menu {
      display: none; } }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 45em) {
    .snc-header {
      padding: 0; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap, .inner-wrap-narrow, .inner-wrap-wide, .inner-wrap-fullwidth {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap::after, .inner-wrap-narrow::after, .inner-wrap-wide::after, .inner-wrap-fullwidth::after {
    clear: both;
    content: "";
    display: table; }
  .inner-wrap > *:first-child, .inner-wrap-narrow > *:first-child, .inner-wrap-wide > *:first-child, .inner-wrap-fullwidth > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child, .inner-wrap-narrow > *:last-child, .inner-wrap-wide > *:last-child, .inner-wrap-fullwidth > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 45em) {
    .inner-wrap, .inner-wrap-narrow, .inner-wrap-wide, .inner-wrap-fullwidth {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.inner-wrap-narrow {
  max-width: 62.5em; }

.inner-wrap-wide {
  max-width: 87.5em; }

.inner-wrap-fullwidth {
  max-width: 100%; }

.site-wrap {
  background: #1d1d1d;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100%; }

/*=============== Site Header ===============*/
.site-header-wrap {
  background-image: url(img/slide-clouds.jpg);
  background-position: center;
  background-size: cover; }
  @media (min-width: 45em) {
    .site-header-wrap {
      position: relative;
      height: 675px; } }

.site-logo {
  float: left;
  display: block;
  margin-right: 1.5625em;
  margin-bottom: .25em; }

.site-header {
  background-color: rgba(0, 0, 0, 0.8); }
  .site-header .inner-wrap, .site-header .inner-wrap-narrow, .site-header .inner-wrap-wide, .site-header .inner-wrap-fullwidth {
    padding-top: 1em;
    padding-bottom: 0; }
  @media (min-width: 45em) {
    .site-header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100; } }

@media (min-width: 60em) {
  .sh-sticky-wrap {
    height: 2.375em; }
    .sh-sticky-wrap.stuck .site-nav-container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0; } }

.sh-utility-nav {
  overflow: hidden;
  float: right; }
  @media (max-width: 45em) {
    .sh-utility-nav {
      width: 50%; } }
  @media (min-width: 45em) {
    .sh-utility-nav {
      text-align: right;
      float: right; }
      .sh-utility-nav .social-wrap {
        display: inline-block; } }

.sh-icons {
  float: right; }

.sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  text-decoration: none; }
  .sh-ico-menu span {
    font-size: .75em; }

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  text-indent: -99em; }
  @media (min-width: 45em) {
    .sh-ico-menu {
      display: none; } }

.sh-tweet {
  display: block;
  position: relative;
  font-size: 0.8125em;
  font-weight: bold;
  color: #67d9da;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-indent: -99999px;
  min-height: 1.875em;
  float: right;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  @media (min-width: 45em) {
    .sh-tweet {
      text-indent: 0px;
      background-color: #464646;
      padding: 1em 4.5em 1em 3em; } }
  .sh-tweet:hover {
    color: white;
    background-color: #000000;
    cursor: pointer; }
    .sh-tweet:hover:after {
      background-size: 2em; }
  .sh-tweet:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  @media (min-width: 45em) {
    .sh-tweet:after {
      content: '';
      background-color: #e34e33;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      width: 3em;
      position: absolute;
      background-position: center center;
      background-size: 1.5em;
      background-repeat: no-repeat;
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      transition: background 0.1s linear;
      background-image: url(img/ico-plus.png); } }
  .sh-tweet:before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    background-image: url(img/ico-twitter.svg); }

/*=============== Site Intro ===============*/
.site-intro .inner-wrap, .site-intro .inner-wrap-narrow, .site-intro .inner-wrap-wide, .site-intro .inner-wrap-fullwidth {
  padding-top: 7.5em;
  padding-bottom: 7.5em; }
  @media (max-width: 45em) {
    .site-intro .inner-wrap, .site-intro .inner-wrap-narrow, .site-intro .inner-wrap-wide, .site-intro .inner-wrap-fullwidth {
      padding-top: 2em;
      padding-bottom: 2em; } }

.si-content {
  display: none; }
  .si-content a {
    text-decoration: none; }

.si-header {
  font-size: 3.25em;
  letter-spacing: -3px;
  line-height: 1;
  margin-bottom: 15px;
  text-transform: uppercase; }
  .si-header span {
    display: block; }

@media (max-width: 45em) {
  .si-subtext {
    color: #ffffff; } }

.cloud-slide {
  float: left;
  margin-top: 2em; }
  @media (max-width: 45em) {
    .cloud-slide {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1em; } }
  @media (min-width: 45em) {
    .cloud-slide {
      width: 450px; } }
  .cloud-slide a {
    color: #2162bc; }
    .cloud-slide a:hover {
      color: #16407b; }

.django-slide {
  float: left;
  margin-top: 2em; }
  @media (max-width: 45em) {
    .django-slide {
      margin-top: 0em;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1em; } }
  @media (min-width: 45em) {
    .django-slide {
      width: 300px; } }
  @media (min-width: 60em) {
    .django-slide {
      width: 360px; } }
  .django-slide .si-header {
    color: #e34e33; }
    @media (min-width: 45em) {
      .django-slide .si-header {
        margin-top: 1em; } }
    @media (min-width: 60em) {
      .django-slide .si-header {
        font-size: 3.75em; } }
  .django-slide a {
    color: #e34e33; }
    .django-slide a:hover {
      color: #b13018; }

.monsters-slide {
  float: left;
  margin-top: 1.5em; }
  @media (max-width: 45em) {
    .monsters-slide {
      margin-top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1em; } }
  @media (min-width: 45em) {
    .monsters-slide {
      width: 300px; } }
  @media (min-width: 60em) {
    .monsters-slide {
      width: 450px; } }
  .monsters-slide .si-header {
    color: #f68f1e; }
  .monsters-slide .si-subtext {
    color: #ffffff; }
  .monsters-slide a {
    color: #f68f1e; }
    .monsters-slide a:hover {
      color: #c06808; }

.computer-slide {
  float: right;
  margin-top: 2em; }
  @media (max-width: 45em) {
    .computer-slide {
      margin-top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1em; } }
  @media (min-width: 45em) {
    .computer-slide {
      width: 400px; } }
  @media (min-width: 60em) {
    .computer-slide {
      width: 450px; } }
  .computer-slide .si-header {
    color: #e34e33; }
  .computer-slide .si-subtext {
    max-width: 400px; }
    @media (max-width: 45em) {
      .computer-slide .si-subtext {
        color: #ffffff; } }
  .computer-slide a {
    color: #e34e33; }

.arrow-wrap.inner-wrap, .arrow-wrap.inner-wrap-narrow, .arrow-wrap.inner-wrap-wide, .arrow-wrap.inner-wrap-fullwidth {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
  padding-top: 0;
  padding-bottom: 0; }
  @media (max-width: 45em) {
    .arrow-wrap.inner-wrap, .arrow-wrap.inner-wrap-narrow, .arrow-wrap.inner-wrap-wide, .arrow-wrap.inner-wrap-fullwidth {
      position: relative; } }

.slider-arrows {
  float: right; }
  .slider-arrows a {
    width: 30px;
    height: 50px;
    background-image: url(img/red-arrow.png);
    background-size: 30px;
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat; }
    .slider-arrows a:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }

.next {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.slider-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57px;
  text-align: center;
  z-index: 900;
  margin: auto;
  width: 120px; }
  @media (max-width: 45em) {
    .slider-dots {
      bottom: 0;
      position: relative; } }

.dot {
  border-radius: 50px;
  height: 13px;
  width: 13px;
  display: inline-block;
  background-color: #ffffff;
  margin-right: 0.625em; }
  .dot:hover {
    background-color: #9f9f9f; }
  .dot.active {
    background-color: #e34e33; }

/*=============== Site Desc Section ===============*/
.site-desc-section .inner-wrap, .site-desc-section .inner-wrap-narrow, .site-desc-section .inner-wrap-wide, .site-desc-section .inner-wrap-fullwidth {
  padding-bottom: 0;
  margin-bottom: 2.5em; }

.sds-blurb {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  padding-bottom: 1em;
  border-bottom: 5px solid #282828; }
  .sds-blurb span {
    color: #e34e33; }

/*=============== Feature Work Section ===============*/
.fws-bucket {
  text-decoration: none;
  width: 100%;
  display: block;
  margin-bottom: 2em; }
  @media (min-width: 45em) {
    .fws-bucket {
      margin-bottom: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .fws-bucket:last-child {
        margin-right: 0; } }

.fws-visual {
  display: block;
  width: 100%; }

.fws-header {
  font-size: 22px;
  color: #9f9f9f;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #282828; }

.fws-view-all {
  font-size: 13px !important;
  color: #e34e33;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px; }

.fws-sub-header {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px; }
  .fws-sub-header span {
    color: #67d9da; }

.fws-subtext {
  color: #9f9f9f;
  margin: 5px 0 5px 0;
  font-size: 13px; }

.fws-cta {
  color: #e34e33;
  text-decoration: none;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold; }
  .fws-cta:hover {
    color: #b13018; }

/*=============== Wire Section ===============*/
.wire-news-section {
  padding-bottom: 10em; }

.wns-bucket {
  text-decoration: none;
  margin-bottom: 2em;
  display: block; }
  @media (min-width: 45em) {
    .wns-bucket {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .wns-bucket:last-child {
        margin-right: 0; } }

.wns-header {
  font-size: 22px;
  color: #9f9f9f;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #282828; }

.wns-view-all {
  font-size: 13px !important;
  color: #e34e33;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px; }

.wns-sub-header {
  color: #ffffff;
  font-size: 2.25em;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1; }
  .wns-sub-header span {
    color: #67d9da; }

.wns-subtext {
  color: #9f9f9f;
  margin: 5px 0 5px 0;
  font-size: 13px; }

.wns-date {
  color: #9f9f9f;
  font-size: 13px;
  margin: 0;
  display: block; }

.wns-cta {
  color: #e34e33;
  text-decoration: none;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold; }
  .wns-cta:hover {
    color: #b13018; }

/* ============== Sitckey Nav ============== */
.stuck .site-nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }

.wobble {
  animation-name: wobble; }

@keyframes jello {
  from, 11.1%, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.39062deg) skewY(0.39062deg); }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }

.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }

.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

.hinge {
  animation-name: hinge; }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }

.jackInTheBox {
  animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }

.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }

.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }

.slideOutUp {
  animation-name: slideOutUp; }

#title {
  color: red; }
