.site-wrap {
  background: $dark-gray;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include display(flex); //sticky footer
  @include flex-direction(column); //sticky footer
  min-height: 100%; //sticky footer
}

/*=============== Site Header ===============*/

.site-header-wrap {
  background-image: url(img/slide-clouds.jpg);
  background-position: center;
  background-size: cover;
  @include mq(medium) {
    position: relative;
    height: $heroHeightDesktop;
  }
}

.site-logo {
  float: left;
  display: block;
  margin-right: em(25);
  margin-bottom: .25em;
}

.site-header {
  background-color: rgba(0, 0, 0, .8);
  .inner-wrap {
    @include padding(1em null 0em null);
  }
  @include mq(medium) {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.sh-sticky-wrap {
  @include mq(large) {
    height: $nav-height;
    &.stuck {
      .site-nav-container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }
}

.sh-utility-nav {
  overflow: hidden;
  float: right;
  @include mq(small) {
    width: 50%;
  }
  @include mq(medium) {
    text-align: right;
    float: right;
    .social-wrap {
      display: inline-block;
    }
  }
}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center; //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  text-indent: -99em;
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}

.sh-tweet {
  display: block;
  position: relative;
  font-size: $small-font-size;
  font-weight: bold;
  color: $aqua;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-indent: -99999px;
  min-height: em(30);
  float: right;
  @include transition(background 0.1s linear);
  @include mq (medium) {
    text-indent: 0px;
    background-color: #464646;
    @include padding(1em 4.5em 1em 3em);
  }
  &:hover {
    color: white;
    background-color: $black;
    cursor: pointer;
    &:after {
      background-size: 2em;
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @include mq (medium) {
    &:after {
      content: '';
      background-color: $red;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      width: 3em;
      position: absolute;
      background-position: center center;
      background-size: 1.5em;
      background-repeat: no-repeat;
      @include transition(background 0.1s linear);
      background-image: url(img/ico-plus.png);
    }
  }
  &:before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
    background-image: url(img/ico-twitter.svg);
  }
}


/*=============== Site Intro ===============*/

.site-intro {
  .inner-wrap {
    padding-top: $baseline*15;
    padding-bottom: $baseline*15;
    @include mq (small) {
      padding-top: $baseline*4;
      padding-bottom: $baseline*4;
    }
  }
}

.si-content {
  display: none;
  a {
    text-decoration: none;
  }
}

.si-header {
  font-size: $display-font-size;
  letter-spacing: -3px;
  line-height: 1;
  margin-bottom: 15px;
  text-transform: uppercase;
  span {
    display: block;
  }
}

.si-subtext {
  @include mq (small) {
    color: $white;
  }
}

// Cloud Slide - slide #1
.cloud-slide {
  float: left;
  margin-top: 2em;
  @include mq (small) {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
  }
  @include mq (medium) {
    width: 450px;
  }
  a {
    color: $blue;
    &:hover {
      color: darken($blue, 15%);
    }
  }
}

// django Slide - slide #2
.django-slide {
  float: left;
  margin-top: 2em;
  @include mq (small) {
    margin-top: 0em;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
  }
  @include mq (medium) {
    width: 300px;
  }
  @include mq (large) {
    width: 360px;
  }
  .si-header {
    color: $red;
    @include mq (medium) {
      margin-top: 1em;
    }
    @include mq (large) {
      font-size: $display-font-size+.5;
    }
  }
  a {
    color: $red;
    &:hover {
      color: darken($red, 15%);
    }
  }
}

// Monsters Slide - slide #3
.monsters-slide {
  float: left;
  margin-top: 1.5em;
  @include mq (small) {
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
  }
  @include mq (medium) {
    width: 300px;
  }
  @include mq (large) {
    width: 450px;
  }
  .si-header {
    color: $orange
  }
  .si-subtext {
    color: $white;
  }
  a {
    color: $orange;
    &:hover {
      color: darken($orange, 15%);
    }
  }
}

// Monsters Slide - slide #4
.computer-slide {
  float: right;
  margin-top: 2em;
  @include mq (small) {
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
  }
  @include mq (medium) {
    width: 400px;
  }
  @include mq (large) {
    width: 450px;
  }
  .si-header {
    color: $red;
  }
  .si-subtext {
    max-width: 400px;
    @include mq(small) {
      color: $white;
    }
  }
  a {
    color: $red;
  }
}

.arrow-wrap.inner-wrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
  @include padding(0 null 0 null);
  @include mq(small) {
    position: relative;
  }
}

.slider-arrows {
  float: right;
  a {
    width: 30px;
    height: 50px;
    background-image: url(img/red-arrow.png);
    background-size: 30px;
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    &:hover {
      @include filter(grayscale(100%));
    }
  }
}

.next {
  @include transform(rotate(-180deg));
}

.slider-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57px;
  text-align: center;
  z-index: 900;
  margin: auto;
  width: 120px;
  @include mq(small) {
    bottom: 0;
    position: relative;
  }
}

.dot {
  border-radius: 50px;
  height: 13px;
  width: 13px;
  display: inline-block;
  background-color: $white;
  margin-right: em(10);
  &:hover {
    background-color: $gray;
  }
  &.active {
    background-color: $red;
  }
}


/*=============== Site Desc Section ===============*/

.site-desc-section {
  .inner-wrap {
    padding-bottom: 0;
    margin-bottom: 2.5em;
  }
}

.sds-blurb {
  font-size: $xlarge-font-size;
  font-weight: bold;
  line-height: 1;
  color: $white;
  padding-bottom: 1em;
  border-bottom: 5px solid #282828;
  span {
    color: $red;
  }
}


/*=============== Feature Work Section ===============*/

.fws-bucket {
  text-decoration: none;
  width:100%;
  display: block;
  margin-bottom: 2em;
  @include mq(medium){
    margin-bottom: 0;
    @include span-columns(4 of 12);
  }
}

.fws-visual{
  display: block;
  width:100%;
}

.fws-header {
  font-size: 22px;
  color: #9f9f9f;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #282828;
}

.fws-view-all {
  font-size: 13px !important;
  color: $red;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.fws-sub-header {
  color: $white;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
  span {
    color: $aqua;
  }
}

.fws-subtext {
  color: #9f9f9f;
  margin: 5px 0 5px 0;
  font-size: 13px;
}

.fws-cta {
  color: $red;
  text-decoration: none;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  &:hover {
    color: darken($red, 15%);
  }
}


/*=============== Wire Section ===============*/

.wire-news-section {
  padding-bottom: 10em;
}

.wns-bucket {
  text-decoration: none;
  margin-bottom: 2em;
  display: block;
  @include mq(medium) {
    @include span-columns(4 of 12);
  }
}

.wns-header {
  font-size: 22px;
  color: #9f9f9f;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #282828;
}

.wns-view-all {
  font-size: 13px !important;
  color: $red;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.wns-sub-header {
  color: $white;
  font-size: $xlarge-font-size;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1;
  span {
    color: $aqua;
  }
}

.wns-subtext {
  color: #9f9f9f;
  margin: 5px 0 5px 0;
  font-size: 13px;
}

.wns-date {
  color: #9f9f9f;
  font-size: 13px;
  margin: 0;
  display: block;
}

.wns-cta {
  color: $red;
  text-decoration: none;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  &:hover {
    color: darken($red, 15%);
  }
}

/* ============== Sitckey Nav ============== */

.stuck {
  .site-nav {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
  }
}
