// Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

// max width restricting inner-wraps
.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width: em(1000);
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1400);
}

.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width: 100%;
}


