// Hero Slider 
$heroHeightDesktop: 675px;

// Typography
$base-font-family: $helvetica;
$header-font-family: 'Open Sans Condensed', sans-serif;

// Font Sizes
$small-font-size: em(13);
$base-font-size: em(16); 
$medium-font-size: em(21);
$large-font-size: em(27);
$xlarge-font-size: em(36);
$display-font-size: em(52);

// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#000000;
$aqua: #67d9da;
$blue: #2162bc;
$green:#00ad49;
$orange:#f68f1e;
$gray:#9f9f9f;
$dark-gray: #1d1d1d;
$medium-gray: #1d1d1d;
$light-gray: #f8f8f8;
$red:#e34e33;

// Base Colors
$base-color:$blue;
$base-accent-color:$red;
$base-font-color: $dark-gray;
$base-background-color: white;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Navigation Default/Desktop
$nav-font-size:em(13);
$nav-height:em(38);
$nav-background:transparent;
$nav-text-color:$white;
$nav-text-color-hover:$red;
$nav-hover:darken($nav-background, 10%);
$nav-border:1px solid lighten($nav-background,5%);
$nav-spacing:em(15);
$nav-subnav-font-size:em(16);
$nav-subnav-height:em(50);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:1px solid lighten($nav-hover,10%);
$nav-subnav-hover:darken($nav-subnav-background, 10%);

// Navigation Medium/Tablet
$nav-font-size-medium:$nav-font-size;
$nav-height-medium:$nav-height;
$nav-background-medium:$nav-background;
$nav-text-color-medium:$nav-text-color;
$nav-text-color-hover-medium:$nav-text-color-hover;
$nav-hover-medium:$nav-hover;
$nav-border-medium:$nav-border;
$nav-spacing-medium:5px;
$nav-subnav-font-size-medium:$nav-subnav-font-size;
$nav-subnav-height-medium:$nav-subnav-height;
$nav-subnav-background-medium:$nav-subnav-background;
$nav-subnav-border-medium:$nav-subnav-border;
$nav-subnav-hover-medium:$nav-subnav-hover;

// Navigation Small/Mobile
$nav-font-size-mobile:$nav-font-size;
$nav-height-mobile:$nav-height; $nav-width-mobile:17em;
$nav-background-mobile:$medium-gray;
$nav-text-color-mobile:$nav-text-color;
$nav-text-color-hover-mobile:$nav-text-color-hover;
$nav-hover-mobile:$nav-hover;
$nav-border-mobile:$nav-border;
$nav-spacing-mobile:$baseline*2;
$nav-subnav-font-size-mobile:$nav-subnav-font-size;
$nav-subnav-height-mobile:$nav-subnav-height;
$nav-subnav-background-mobile:$nav-subnav-background;
$nav-subnav-border-mobile:$nav-subnav-border;
$nav-subnav-hover-mobile:$nav-subnav-hover;